 
        body{
            
            background-size: cover;
             background-position: center;
             background-color: #534d61;
        }
        .title{
            font-size: large;
            font-family: Arial Black;
            width: 50px;
            height: 50px;
        }
     
        .container{
            font-size: "small";
            font-family:"Arial Black";
            padding:  1rem;
           background-color: #333;
            margin-right:5rem;
           position: absolute;
           width:100px;
           height:100px;
         
        }
         .draggable {
            background-color:rgb(107, 63, 63);
            border: 0.5px solid black;
            cursor: move;
            width:100px;
            height:100px;
            
             
         }
        .draggable.dragging{
            opacity: .6;
        }



        .pill {
            display: inline-block;
            background-color: #4CAF50;
            color: white;
            font-family:"Readax Pro" ;
            font-size: 30px;
            padding: 10px 20px;
            border-radius: 25px;
            border: none;
            margin-right: 10px;
            cursor: pointer;
        }
        
        .pill:hover {
            background-color: #45a049;
        }
        
     

        .scroll.bg{
            background: rgb(11,11,114);
            width: 500 px;
            margin: 60% auto;
            padding: 60px;
            border-radius: 60px;
        }

        .scroll-div{
            width: 500px;
            background: rgb(17,17,114);
            height: 200px;
            overflow: hidden;
            overflow-y: scroll;
        
        }
        .scroll.object{
            color:red;
            font-family: "Readex Pro";
            font-size: 20px;
            padding: 30px;
            
        }