<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="customisepage2.css" />
     
    <title>Timer Settings!</title>
  </head>
  <body>
    <!-- Study -->
    <div class="mtts">
      <div class="categ">
        <span class="categicon"></i>Study</span>
        <span class="dropdownicon"></span>
      </div>
      
      <div class="categ-selection">
        <div class="categ-container">
          <div class="select-categ">
            <span class="categ-text">Focus </span>
          </div>
          <ul class="categ-option">
            <li class="option"><span class="option-text">10</span></li>
        </div>
        <div class="categ-container">
          <div class="select-categ">
            <span class="categ-text">Break </span>
          </div>
          <ul class="categ-option">
            <li class="option"><span class="option-text">5</span></li>
          </ul>
        </div>
        <div class="categ-container">
          <div class="select-categ">
            <span class="categ-text">Cycles </span>
          </div>
          <ul class="categ-option">
            <li class="option"><span class="option-text">2</span></li>
          </ul>
        </div>
        
      </div>
    </div>

    <!-- Exercise -->
    <div class="mtts">
      <div class="categ">
        <span class="categicon"></i>Exercise</span>
        <span class="dropdownicon"></span>
     
      </div>   
       
      <div class="categ-selection">
        <div class="categ-container">
          <div class="select-categ">
            <span class="categ-text">Focus </span>
          </div>
          <ul class="categ-option">
            <li class="option"><span class="option-text">10</span></li>
        </div>
        <div class="categ-container">
          <div class="select-categ">
            <span class="categ-text">Break </span>
          </div>
          <ul class="categ-option">
            <li class="option"><span class="option-text">5</span></li>
          </ul>
        </div>
        <div class="categ-container">
          <div class="select-categ">
            <span class="categ-text">Cycles </span>
          </div>
          <ul class="categ-option">
          <li class="option" >  <span class="option-text">2</span></li>
          </ul>
        </div>
        
      </div>
    </div>

    <!-- Gaming -->
    <div class="mtts">
      <div class="categ">
        <span class="categicon"> </i>Gaming</span>
        <span class="dropdownicon"></span>
      </div>
       
      <div class="categ-selection">
        <div class="categ-container">
          <div class="select-categ">
            <span class="categ-text">Focus </span>
          </div>
          <ul class="categ-option">
            <li class="option"><span class="option-text">10</span></li>
          </ul>
        </div>
        <div class="categ-container">
          <div class="select-categ">
            <span class="categ-text">Break </span>
          </div>
          <ul class="categ-option">
            <li class="option"><span class="option-text">5</span></li>
          </ul>
        </div>
        <div class="categ-container">
          <div class="select-categ">
            <span class="categ-text">Cycles </span>
          </div>
          <ul class="categ-option">
            <li class="option"><span class="option-text">2</span></li>
          </ul>
        </div>
        
      </div>
    </div>
 
     <!-- House chores -->
     <div class="mtts">
      <div class="categ">
        <span class="categicon"> </i>House chores</span>
        <span class="dropdownicon"></span>
      </div>
       
      <div class="categ-selection">
        <div class="categ-container">
          <div class="select-categ">
            <span class="categ-text">Focus </span>
          </div>
          <ul class="categ-option">
            <li class="option"><span class="option-text">10</span></li>
          </ul>
        </div>
        <div class="categ-container">
          <div class="select-categ">
            <span class="categ-text">Break </span>
          </div>
          <ul class="categ-option">
            <li class="option"><span class="option-text">5</span></li>
          </ul>
        </div>
        <div class="categ-container">
          <div class="select-categ">
            <span class="categ-text">Cycles </span>
          </div>
          <ul class="categ-option">
            <li class="option"><span class="option-text">2</span></li>
          </ul>
        </div>
        
      </div>
    </div>

    <div id="overlay">
      <p><button class="cusbutton" id="customButton">Custom</button></p>
    </div>
    
    <div class="mnt">
      <h1>Custom Preset</h1>
      <p>On this page you can customize your time according to your preference.</p>
    </div>
    <div class="container" id="containercustom">
      <p><label for="name">Name:</label></p>
      <input type="text" name="name" id="name" value="" placeholder="enter your name" />
    
      <p><label for="focus">Focus:</label></p>
      <input type="number" name="focus" id="focus" value="" placeholder="min" min="1" max="30" />
    
      <p><label for="break">Break:</label></p>
      <input type="number" name="break" id="break" value="" placeholder="min" min="1" max="30" />
    
      <p><label for="cycle">Cycles:</label></p>
      <input type="number" name="cycles" id="cycles" value="" placeholder="cycles" min="1" max="30" />
    
      <div class="save-message"></div>
      <div id="savedInputs"></div>
    
      <p><a href="#" id="saveButton" class="pill-button">Add</a></p>
    </div>
    
    <div class="breakbox">
      <table id="Table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Focus</th>
            <th>Break</th>
            <th>Cycle</th>
          </tr>
        </thead>
        <tbody id='presetTable'></tbody>
      </table>
    </div>
    
    <script> 
 
//// form custom preset////

document.addEventListener("DOMContentLoaded", () => {
  const saveButton = document.getElementById("saveButton");
  const presetTable = document.getElementById("presetTable");
  const customButton = document.getElementById("customButton");
  const Table = document.getElementById('Table');
  const containercustom = document.getElementById("containercustom");
  
  let editingKey = null;

  // Load presets from localStorage
  function loadPresets() {
    const presets = [];
    const excludeCategories = ["Gaming", "Exercise", "House chores", "Study"];
    for (let i = 0; i < localStorage.length; i++) {
      const key = localStorage.key(i);
      if (excludeCategories.includes(key)) {
        continue;
      }
      if (key !== 'colour' && key !== 'selectedAudioEffect' && key !== 'xp' && key !== 'xpMax' && key !== 'level'&& key !=='todos') { 
        const presetData = JSON.parse(localStorage.getItem(key));
        presetData.name = key; 
        presets.push(presetData);
      }
    }
    console.log('Loading presets:', presets);
    return presets;
  }

  // Save preset to localStorage
  function savePreset(formData) {
    const presetKey = formData.name;
    const { name, ...data } = formData;  
    localStorage.setItem(presetKey, JSON.stringify(data));
    console.log('Saving:', data);
  }

  // Delete preset from localStorage
  function deletePreset(key) {
    localStorage.removeItem(key);
    console.log('Deleted preset:', key);
  }

  // Render presets table
  function renderTable() {
    presetTable.innerHTML = '';
    const presets = loadPresets();

    presets.forEach((preset, index) => {
      const row = document.createElement('tr');

      row.innerHTML = `
        <td>${preset.name}</td>
        <td>${preset.focus}</td>
        <td>${preset.break}</td>
        <td>${preset.cycles}</td>
        <td>
          <button onclick="editPreset('${preset.name}')">Edit</button>
          <button onclick="deletePreset('${preset.name}')">Delete</button>
        </td>
      `;
      presetTable.appendChild(row);
    });
    console.log('Render table with presets:', presets);
  }

  // Reset form
  function resetForm() {
    document.getElementById('name').value = '';
    document.getElementById('focus').value = '';
    document.getElementById('break').value = '';
    document.getElementById('cycles').value = '';
    console.log('Form reset');
  }

  // Validate input values
  function isValidInput(value) {
    return value >= 1 && value <= 30;
  }

  // Event listener for save button
  saveButton.addEventListener('click', (event) => {
    event.preventDefault();

    const formData = {
      name: document.getElementById("name").value,
      focus: parseInt(document.getElementById("focus").value),
      break: parseInt(document.getElementById("break").value),
      cycles: parseInt(document.getElementById("cycles").value),
    };

    if (!formData.name || !isValidInput(formData.focus) || !isValidInput(formData.break) || !isValidInput(formData.cycles)) {
      alert("Please enter valid values for all fields (1-30)!");
      return;
    }

    savePreset(formData);
    renderTable();
    resetForm();
  });

  // Edit preset
  window.editPreset = function (name) {
    const presetData = JSON.parse(localStorage.getItem(name));
    document.getElementById("name").value = name;
    document.getElementById("focus").value = presetData.focus;
    document.getElementById("break").value = presetData.break;
    document.getElementById("cycles").value = presetData.cycles;

    editingKey = name;
  };

  // Delete preset
  window.deletePreset = function (key) {
    deletePreset(key);
    renderTable();
  };

  // Custom button show table
  customButton.addEventListener('click', () => {
    if (Table.style.display === 'none' || Table.style.display === '') {
      Table.style.display = 'block';
    } else {
      Table.style.display = 'none';
    }
    console.log('Table display:', Table.style.display);
  });

  // Custom button show form
  customButton.addEventListener('click', () => {
    if (containercustom.style.display === 'none' || containercustom.style.display === '') {
      containercustom.style.display = 'block';
    } else {
      containercustom.style.display = 'none';
    }
    console.log('Form display:', containercustom.style.display);
  });

  // Initial render of presets table
  renderTable();
});

// Categories icon buttons
document.addEventListener("DOMContentLoaded", () => {
  function saveSelectedTimes(section) {
    const categIcon = section.querySelector('.categicon').textContent.trim();
    const focusOption = section.querySelector('.categ-container:nth-child(1) .option-text').textContent.trim();
    const breakOption = section.querySelector('.categ-container:nth-child(2) .option-text').textContent.trim();
    const cyclesOption = section.querySelector('.categ-container:nth-child(3) .option-text').textContent.trim();

    const selectedTimes = {
      focus: focusOption,
      break: breakOption,
      cycles: cyclesOption,
    };

    localStorage.setItem(categIcon, JSON.stringify(selectedTimes));
    console.log(categIcon + ':', selectedTimes);
  }

  function loadSelectedTimes(section) {
    const categIcon = section.querySelector('.categicon').textContent.trim();
    const storedTimes = localStorage.getItem(categIcon);

    if (storedTimes) {
      const { focus, break: breakTime, cycles } = JSON.parse(storedTimes);

      section.querySelectorAll('.option-text').forEach(option => {
        const text = option.textContent.trim();
        if (text === focus || text === breakTime || text === cycles) {
          option.closest('.categ-option').querySelector('.option').classList.add('active');
        }
      });
    }
  }

  function deleteSelectedTimes(categIcon) {
    localStorage.removeItem(categIcon);
    document.querySelectorAll('.mtts').forEach(section => {
      const sectionIcon = section.querySelector('.categicon').textContent.trim();
      if (sectionIcon === categIcon) {
        section.remove();
      }
    });
  }

  // Toggle bar
  document.querySelectorAll('.select-categ').forEach((item) => {
    item.addEventListener('click', function () {
      this.parentElement.classList.toggle('active');
    });
  });

  document.querySelectorAll('.categ').forEach((item) => {
    item.addEventListener('click', function () {
      this.closest('.mtts').classList.toggle('active');
      saveSelectedTimes(this.closest('.mtts'));
    });
  });

  document.querySelectorAll('.mtts').forEach((section) => {
    loadSelectedTimes(section);
  });

  // Render category table on load
  renderCategoryTable();
});

// Background and profile image settings
function backgroundsetter(){
  let storedColour = localStorage.getItem('colour');
  if (storedColour) {
    document.querySelector('body').style.setProperty('background-image', storedColour);
  }
}

function profilesetter() {
  const storedPhoto = localStorage.getItem('userPhoto');
  if (storedPhoto) {
    const userphoto = document.getElementById('userPhoto');
    userphoto.setAttribute('src', storedPhoto);
  }
}

window.onload = function(){
  backgroundsetter();
}

</script>
  </body>
</html>
