.categ{
  font-size: 25px;
  text-decoration: none;
  display: block;
  padding:15px 15px;
  width: fit-content;
  height: 90px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 5px #864747;
  background-color: white;
  margin-top: 30px;
  margin-left: 10px;
  overflow: hidden;
}

.categ:hover{
  background-color: gainsboro;
  cursor:pointer;
}
.categ .categicon i{
  margin-right: 5px;
}

.categ .dropdownicon i{
  position:absolute;
  right: 10px;;
  transition: 1s;
}

.mtts.active .categ .dropdownicon i{
  transform:rotate(-180deg)
}

.categ h2{
  font-size: 1.17rem;
}
 
.categ-selection{
  position:relative;
  padding: 20px;
  width: fit-content;
  height: fit-content;
  margin-top:20px;
  margin-left:10px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #000000;
  background-color: white;
  display:none;
}

.mtts.active .categ-selection{
  display:flex;
  flex-wrap:wrap;
}


/**select genre**/

.genre-container{
    width:fit-content;
    margin-right: "fit-content";
}

.genre-container .select-genre{
    display: flex;
    height:fit-content;
    width:fit-content;
    background-color: white;
    padding:20px;
    font-size:18px;
    font-weight:500;
    border-radius: 15px;
    align-items: center;
    cursor: pointer;
   
}

.select-genre i{
    transition: 0.5s;
}
.genre-container.active .select-genre i{
    transform:rotate(180deg)
}

.genre-container .genre-option {
    position:relative;
    padding:10px;
    width: 90px;
    margin-top:10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 1.3px 1.3px 1.3px 1.3px #000000;
    visibility: hidden;
}
 

.genre-container.active .genre-option{
    visibility: visible;
}

.genre-option .option{
    display:flex;
    height:10px;
    border-radius: 5px;
    padding-left:10px;
    padding-right:10px;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    cursor: pointer;
    font-size:20px;
}

.genre-option .option:hover{
    background-color: #e8e9eb;
}

.genre-option .option i{
    color:#1d63dc;
}

.genre-list {
    display: none;
}
.genre-list.active {
    display: block;
}

