<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="custom.page.css" />
    <script src="customise.js" defer></script>
    <title>Timer Settings!</title>
  </head>
  <body></body>
</html>

<div class="mnt">
  <h1>Custom Preset</h1>
</div>
<div class="container"></div>
<p>On this page you can ccustomize your time according to your preference.</p>
<label for="name">Name</label>
<input type="text" name="name" id="name" value="dcode" autofocus data-autosave-url="http://localhost:3000/save-time">
<label for=</label>